<h1>
  Square Root Results
</h1>

<dl>
  <dt>
    Number
  </dt>
  <dd>
    5
  </dd>

  <dt>
    Square Root
  </dt>
  <dd>
    2.23606797749979
  </dd>
</dl>

<a href="/square_root/new">
  Calculate another square root
</a>
